<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <title>World Macro</title>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.0/normalize.min.css">
    <link rel="stylesheet" href="/stylesheets/css/bstpstyle.css">
    <link rel="stylesheet" href="/stylesheets/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/responsive.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
  </head>

  <body>
    <div id="social">
      <a class="twit" href="http://twitter.com/world_macro" title="Twitter">Twitter</a>
      <a class="fbook" href="#" title="Facebook">Facebook</a>
      <a class="gplus" href="#" title="Google Plus">Google Plus</a>
    </div>

    <div class="fintimes">
      <header class="medium-fade shadow">
        <div class="wrapper">
          <div id="logo">
            <h1>WORLD MACRO</h1>
            <h2>WORLD MACRO</h2>
          </div>
        </div><!-- .wrapper -->
        <div id="navbar" class="light-fade">
          <div class="wrapper">
            <nav class="clearfix">
              <a class="selected" href="/">Home</a><a href="/trades">Trades</a><a href="#">Insights</a><a href="#">Game</a><a href="#">Contact</a><a href="https://www.federalreserve.gov/monetarypolicy/fomccalendars.htm" target="_blank">F.O.M.C.</a><a class="menu-icon">&#9776;</a>
            </nav>
          </div><!-- .wrapper -->
        </div><!-- #navbar -->
      </header>

      <div class="wrapper clearfix">
        <section class="col-2"
          <h1>Post #<%= @post.id %></h1>

            <h4><%= @post.title %></h4>
            <h4>By <%= @post.author %></h4>
            <h4><%= @post.content %></h4>
            <h4><%= @post.post_date %></h4>

            

            <form action="/posts/<%= @post.id %>/edit" method="get">
              <p><input type="submit" value="Edit Post"></p>
            </form>

            <form action="/posts/<%= @post.id %>/delete" method="post">
              <input id="hidden" type="hidden" name="_method" value="delete">
              <p><input type="submit" value="Delete Post"></p>
            </form>
            <h3><a href="/">HOME</a></h3>
        </section>
      </div>
    </div>
  </body>
</html>
